{% extends "base.html" %}

{% block vsebina %}

<h1>Objave</h1>

<a href="/logout">Logout</a>

<!-- OBJAVA FORM -->
<form action="/objavi" method="POST" enctype="multipart/form-data">
    <input name="besedilo" placeholder="Kaj razmišljaš?" required>
    <input type="file" name="slika">
    <button type="submit">Objavi</button>
</form>

<hr>

{% for o in objave %}

<div class="objava">

    <p><b>{{ o.user }}</b></p>
    <p>{{ o.besedilo }}</p>

    {% if o.slika %}
        <img src="{{ url_for('static', filename='slike/' + o.slika) }}" width="200">
    {% endif %}

    <p>❤️ <span id="lajk-{{ loop.index0 }}">{{ o.lajki }}</span></p>

    <button onclick="like({{ loop.index0 }})">Like</button>

</div>

{% else %}

<p>Še ni objav.</p>

{% endfor %}

<script>
function like(id){
    fetch("/like/" + id, { method: "POST" })
    .then(r => r.json())
    .then(data => {
        document.getElementById("lajk-" + id).innerText = data.lajki;
    });
}
</script>

{% endblock %}