<!DOCTYPE html>
<html>
<head>
    <title>Zapiski</title>

    <!-- povežem javascript -->
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>

<h1>Osebni zapiski</h1>

<!-- forma za dodajanje zapiska -->
<form action="/add" method="POST">

    <!-- naslov -->
    <input
        type="text"
        name="title"
        placeholder="Naslov"
    >

    <br><br>

    <!-- vsebina -->
    <textarea
        name="content"
        placeholder="Vsebina"
    ></textarea>

    <br><br>

    <button>
        Dodaj
    </button>

</form>

<hr>

<!-- izpis vseh zapiskov -->
{% for note in notes %}

<h3>{{ note.title }}</h3>

<p>{{ note.content }}</p>

<!-- posle id javascriptu -->
<button onclick="deleteNote({{note.doc_id }})">
    Izbriši
</button>

<hr>

{% endfor %}

</body>
</html>