{% extends "base.html" %}
{% block vsebina %}

<h1>Zapiski</h1>

<!-- ADD -->
<form action="/add" method="POST">
    <input name="naslov" placeholder="naslov" required>
    <input name="vsebina" placeholder="vsebina" required>
    <button>Dodaj</button>
</form>

<hr>

<!-- SEARCH -->
<input id="q" placeholder="Išči..." oninput="search()">

<div id="rez"></div>

<!-- LIST -->
<div id="list">
{% for z in zapiski %}
    <div>
        <h3>{{ z.naslov }}</h3>
        <p>{{ z.vsebina }}</p>
        <a href="/delete/{{ z.doc_id }}">Briši</a>
    </div>
{% endfor %}
</div>

<script>
function search(){
    let q = document.getElementById("q").value;

    if(q.length < 2){
        document.getElementById("rez").innerHTML = "";
        return;
    }

    fetch("/search?q=" + q)
    .then(r => r.json())
    .then(data => {
        let html = "";

        data.forEach(z => {
            html += `<div>
                        <h3>${z.naslov}</h3>
                        <p>${z.vsebina}</p>
                     </div>`;
        });

        document.getElementById("rez").innerHTML = html;
    });
}
</script>

{% endblock %}